#questions.content.container
  .col-md-2
  .col-md-8
    %h1 問題を作成する

    %ul#myTab.nav.nav-pills
      %li.active
        %a{"data-toggle" => "tab", href: "#sentaku"} 選択問題
      %li
        %a{"data-toggle" => "tab", href: "#anaume"} 穴埋問題
    .box
      .tab-content
        #sentaku.tab-pane.fade.in.active
          =render 'm_questions/form'
        #anaume.tab-pane.fade
          =render 'b_questions/form'


    = link_to '選択問題を作成',m_questions_path
    = link_to '穴埋め問題を作成',b_questions_path