%h1 問題一覧

%table
  %tr
    %th Content
    %th


  - @b_questions.each do |b_question|
    %tr
      %td= b_question.content.gsub(/_blank_/, "(　　)")
      %td= link_to '表示する', b_question


%br

= link_to '問題を作成する', questions_index_path
