// Place all the styles related to the m_questions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
#m_question_show.content.container
  .col-md-2
  .col-md-8
    h1
    .box
      :margin 15px 0px
      :padding 12px 0px
      :min-height 300px
      :border solid 1px #ccc
      :border-radius 8px
      .tab-content
        #kaitou
          .list_box
            table
              :margin-top 25px
              :border-top solid 1px #ccc


              tr
                th.col-lg-2
                  :color #333
                  :font-size 16px
                  :text-align center
                  :border-bottom solid 1px #ccc
                  :border-right solid 1px #ccc
                th.col-lg-10
                  :font-size 16px
                  :text-align center
                  :border-bottom solid 1px #ccc
                td
                  :font-size 16px
                  :text-align center

        #mondai.tab-pane.fade
          p
            :font-size 24px
          .content_box
            :padding-top 12px
            :border solid 1px #ccc
            :font-size 18px
            :height 180px
          .edit

            %button.btn.btn-primary.btn
            :text-align center
            :margin-top 13px
            #myModal.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    :background-color #428bca
                    button.close
                    h4#myModalLabel.modal-title
                      :padding-left 10px
                      :color white
                  .modal-body
                    :height 290px


#m_question_form
  .field
    .mondai_box
  .actions
    .btn-primary
      :margin-top 10px
      border: 0px solid #ccc
      border-radius: 5px
      padding: 5px 20px
      font-weight: bold
      cursor: pointer
      height: 40px

